@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    padding: 4rem;
    font-family: 'Lato', sans-serif;
    background: radial-gradient(
        circle,
        rgb(174, 183, 196) 0%,
        rgba(115, 17, 243, 0.9) 50%,
        rgba(49,0,111,.9) 100%
    );
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
}

/* creating cube */
#cube-container {
    position: absolute;
}

#cube.threeDView {
    width:156px;
    height:156px;
    top:110px;
    transform-style:preserve-3d;
    transform:rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
}

#cube {
    position: relative;
    height: 400px;
    width: 400px;
    transform-style: preserve-3d;
}

#cube .cubes {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    border-radius: 10px;
    z-index: -1;
    text-align: center;
    font-size: 24px;
}

#cube .cubes div{
    line-height: 100px;
}

#cube .cubes div span{
    visibility: hidden;
}

/* CUBIES POSITIONS*/
/*Top-Face cubes*/
.top-tl {
    transform:rotateX(90deg) translate3d(50px,-100px,0);
}
.top-cl {
    transform:rotateX(90deg) translate3d(50px,0,0);
}
.top-bl {
    transform:rotateX(90deg) translate3d(50px,100px,0px);
}
.top-tc {
    transform:rotateX(90deg) translate3d(150px,-100px,0);

}
.top-cc {
    transform:rotateX(90deg) translate3d(150px,0,0);
}
.top-bc {
    transform:rotateX(90deg) translate3d(150px,100px,0);
}
.top-tr {
    transform:rotateX(90deg) translate3d(250px,-100px,0);
}
.top-cr {
    transform:rotateX(90deg) translate3d(250px,0,0);
}
.top-br {
    transform:rotateX(90deg) translate3d(250px,100px,0);
}

/*Front-face cubes*/
.front-tl {
    transform:translate3d(50px,50px,150px);
}
.front-cl {
    transform:translate3d(50px,150px,150px);
}
.front-bl {
    transform:translate3d(50px,250px,150px);
}
.front-tc {
    transform:translate3d(150px,50px,150px);
}
.front-cc {
    transform:translate3d(150px,150px,150px);
}
.front-bc {
    transform:translate3d(150px,250px,150px);
}
.front-tr {
    transform:translate3d(250px,50px,150px);
}
.front-cr {
    transform:translate3d(250px,150px,150px);
}
.front-br {
    transform:translate3d(250px,250px,150px);
}

/*Down-face cubes*/
.down-tl {
    transform:rotateX(-90deg) translate3d(50px,-100px,300px);
}
.down-cl {
    transform:rotateX(-90deg) translate3d(50px,0,300px);
}
.down-bl {
    transform:rotateX(-90deg) translate3d(50px,100px,300px);
}
.down-tc {
    transform:rotateX(-90deg) translate3d(150px,-100px,300px);
}
.down-cc {
    transform:rotateX(-90deg) translate3d(150px,0px,300px);
}
.down-bc {
    transform:rotateX(-90deg) translate3d(150px,100px,300px);
}
.down-tr {
    transform:rotateX(-90deg) translate3d(250px,-100px,300px);
}
.down-cr {
    transform:rotateX(-90deg) translate3d(250px,0px,300px);
}
.down-br {
    transform:rotateX(-90deg) translate3d(250px,100px,300px);
}

/*Back-face cubes*/
.back-tl {
    transform:rotateX(-180deg) translate3d(50px,-250px,150px);
}
.back-cl {
    transform:rotateX(-180deg) translate3d(50px,-150px,150px);
}
.back-bl {
    transform:rotateX(-180deg) translate3d(50px,-50px,150px);
}
.back-tc {
    transform:rotateX(-180deg) translate3d(150px,-250px,150px);
}
.back-cc {
    transform:rotateX(-180deg) translate3d(150px,-150px,150px);
}
.back-bc {
    transform:rotateX(-180deg) translate3d(150px,-50px,150px);
}
.back-tr {
    transform:rotateX(-180deg) translate3d(250px,-250px,150px);
}
.back-cr {
    transform:rotateX(-180deg) translate3d(250px,-150px,150px);
}
.back-br {
    transform:rotateX(-180deg) translate3d(250px,-50px,150px);
}

/*Left-face cubes*/
.left-tl {
    transform:rotateY(-90deg) translate3d(-100px,50px,0px);
}
.left-cl {
    transform:rotateY(-90deg) translate3d(-100px,150px,0px);
}
.left-bl {
    transform:rotateY(-90deg) translate3d(-100px,250px,0px);
}
.left-tc {
    transform:rotateY(-90deg) translate3d(0px,50px,0px);
}
.left-cc {
    transform:rotateY(-90deg) translate3d(0px,150px,0px);
}
.left-bc {
    transform:rotateY(-90deg) translate3d(0px,250px,0px);
}
.left-tr {
    transform:rotateY(-90deg) translate3d(100px,50px,0px);
}
.left-cr {
    transform:rotateY(-90deg) translate3d(100px,150px,0px);
}
.left-br {
    transform:rotateY(-90deg) translate3d(100px,250px,0px);
}

/*Right-face cubes*/
.right-tl {
    transform:rotateY(90deg) translate3d(-100px,50px,300px);
}
.right-cl {
    transform:rotateY(90deg) translate3d(-100px,150px,300px);
}
.right-bl {
    transform:rotateY(90deg) translate3d(-100px,250px,300px);
}
.right-tc {
    transform:rotateY(90deg) translate3d(0px,50px,300px);
}
.right-cc {
    transform:rotateY(90deg) translate3d(0px,150px,300px);
}
.right-bc {
    transform:rotateY(90deg) translate3d(0px,250px,300px);
}
.right-tr {
    transform:rotateY(90deg) translate3d(100px,50px,300px);
}
.right-cr {
    transform:rotateY(90deg) translate3d(100px,150px,300px);
}
.right-br {
    transform:rotateY(90deg) translate3d(100px,250px,300px);
}

/* cube-colors */
#cube .top {
    background-color: white;
}
#cube .front {
    background-color: green;
}
#cube .down {
    background-color: yellow;
}
#cube .back {
    background-color: blue;
}
#cube .left {
    background-color: orange;
}
#cube .right {
    background-color: red;
}