@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background: radial-gradient(
        circle,
        rgb(174, 183, 196) 0%,
        rgba(115, 17, 243, 0.9) 50%,
        rgba(49,0,111,.9) 100%
    );
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
}

/* creating cube */
#cube-container {
    position: absolute;
}

#cube-viewport {
    perspective: 800px;
    perspective-origin: 50% 200px;
}

#cube {
    position: relative;
    height: 400px;
    width: 400px;
    transform-style: preserve-3d;
}

#cube .cubes {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    border-radius: 10px;
    z-index: -1;
    text-align: center;
    font-size: 24px;
}

#cube .cubes div{
    line-height: 100px;
}

/* #cube .cubes div span{
    visibility: hidden;
} */