@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    padding: 4rem;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    background: radial-gradient(
        circle,
        rgb(174, 183, 196) 0%,
        rgba(115, 17, 243, 0.9) 50%,
        rgba(49,0,111,.9) 100%
    );
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 26px;
}

#cube{
    margin: auto;
    position: relative;
    height: 500px;
    width: 100%;
    transform-style: preserve-3d;
    left: 25%;
}
   
#cube .square{
    position:absolute;
    margin: 1px;
    border: 3px solid black;
    border-radius: 15px;
    width:  100px;
    height: 100px;
    text-align: center;
    font-size:30px;
    box-sizing: content-box;
}

#cube .square div{
    line-height: 100px;
    border-radius: 8px;
   
}
#cube .square div span{
    visibility: hidden;
}

/* Square Colors*/
#cube .orange {
    background-color:#ffaf1c;
}

#cube .green {
    background-color:#58d568
}

#cube .red {
    background-color:#ed3030
}

#cube .blue {
    background-color:#1c5ffe
}

#cube .yellow  {
    background-color:#f2f215
}

#cube .white {
    background-color:#FFFFFF
}

/* PLANES & ROTATIONS */
#plane{
    transform-style: preserve-3d;
}
.moving {
    transition: all .2s linear;
}

/*PLANE M */
.M-left {
    transform-origin: 0px 200px;
}

.M-right {
    transform-origin: 0px 200px;
}

/*PLANE E */
.E-right {
    transform:rotateY(90deg);
    }

.E-left {
    transform:rotateY(-90deg);
}

/*PLANE S */
.S-left {
    transform-origin: 200px 200px;
    transform:rotateZ(-90deg);
}

.S-right {
    transform-origin: 200px 200px;
    transform:rotateZ(90deg);
}

/* Square P0sitions*/
/*UP FACE*/
.utl {
    transform:rotateX(90deg) translate3d(50px,-100px,0);
}
.ucl {
    transform:rotateX(90deg) translate3d(50px,0,0);
}
.ubl {
    transform:rotateX(90deg) translate3d(50px,100px,0px);
}
.utc {
    transform:rotateX(90deg) translate3d(150px,-100px,0);
}
.ucc {
    transform:rotateX(90deg) translate3d(150px,0,0);
}
.ubc {
    transform:rotateX(90deg) translate3d(150px,100px,0);
}
.utr {
    transform:rotateX(90deg) translate3d(250px,-100px,0);

}
.ucr {
    transform:rotateX(90deg) translate3d(250px,0,0);
}
.ubr {
    transform:rotateX(90deg) translate3d(250px,100px,0);
}

/*FRONT FACE*/
.ftl {
    transform:translate3d(50px,50px,150px);
}
.fcl {
    transform:translate3d(50px,150px,150px);

}
.fbl {
    transform:translate3d(50px,250px,150px);
}
.ftc {
    transform:translate3d(150px,50px,150px);
}
.fcc {
    transform:translate3d(150px,150px,150px);
}
.fbc {
    transform:translate3d(150px,250px,150px);
}
.ftr {
    transform:translate3d(250px,50px,150px);
}
.fcr {
    transform:translate3d(250px,150px,150px);
}
.fbr {
    transform:translate3d(250px,250px,150px);
}

/*DOWN FACE*/
.dtl {
    transform:rotateX(-90deg) translate3d(50px,-100px,300px);
}
.dcl {
    transform:rotateX(-90deg) translate3d(50px,0,300px);
}
.dbl {
    transform:rotateX(-90deg) translate3d(50px,100px,300px);
}
.dtc {
    transform:rotateX(-90deg) translate3d(150px,-100px,300px);
}
.dcc {
    transform:rotateX(-90deg) translate3d(150px,0px,300px);
}
.dbc {
    transform:rotateX(-90deg) translate3d(150px,100px,300px);
}
.dtr {
    transform:rotateX(-90deg) translate3d(250px,-100px,300px);
}
.dcr {
    transform:rotateX(-90deg) translate3d(250px,0px,300px);
}
.dbr {
    transform:rotateX(-90deg) translate3d(250px,100px,300px);
}

/*BACK FACE*/
.btl {
    transform:rotateX(-180deg) translate3d(50px,-250px,150px);
}
.bcl {
    transform:rotateX(-180deg) translate3d(50px,-150px,150px);
}
.bbl {
    transform:rotateX(-180deg) translate3d(50px,-50px,150px);
}
.btc {
    transform:rotateX(-180deg) translate3d(150px,-250px,150px);
    
}
.bcc {
    transform:rotateX(-180deg) translate3d(150px,-150px,150px);
}
.bbc {
    transform:rotateX(-180deg) translate3d(150px,-50px,150px);
}
.btr {
    transform:rotateX(-180deg) translate3d(250px,-250px,150px);
}
.bcr {
    transform:rotateX(-180deg) translate3d(250px,-150px,150px);
}
.bbr {
    transform:rotateX(-180deg) translate3d(250px,-50px,150px);
}

/*LEFT FACE*/
.ltl {
    transform:rotateY(-90deg) translate3d(-100px,50px,0px);
}
.lcl {
    transform:rotateY(-90deg) translate3d(-100px,150px,0px);
}
.lbl {
    transform:rotateY(-90deg) translate3d(-100px,250px,0px);
}
.ltc {
    transform:rotateY(-90deg) translate3d(0px,50px,0px);
}
.lcc {
    transform:rotateY(-90deg) translate3d(0px,150px,0px);   
}
.lbc {
    transform:rotateY(-90deg) translate3d(0px,250px,0px);
}
.ltr {
    transform:rotateY(-90deg) translate3d(100px,50px,0px);
}
.lcr {
    transform:rotateY(-90deg) translate3d(100px,150px,0px);
}
.lbr {
    transform:rotateY(-90deg) translate3d(100px,250px,0px);
}

/*RIGHT FACE*/
.rtl {
    transform:rotateY(90deg) translate3d(-100px,50px,300px);
}
.rcl {
    transform:rotateY(90deg) translate3d(-100px,150px,300px);
}
.rbl {
    transform:rotateY(90deg) translate3d(-100px,250px,300px);
}
.rtc {
    transform:rotateY(90deg) translate3d(0px,50px,300px);
}
.rcc {
    transform:rotateY(90deg) translate3d(0px,150px,300px);
}
.rbc {
    transform:rotateY(90deg) translate3d(0px,250px,300px);
}
.rtr {
    transform:rotateY(90deg) translate3d(100px,50px,300px);
}
.rcr {
    transform:rotateY(90deg) translate3d(100px,150px,300px);
}
.rbr {
    transform:rotateY(90deg) translate3d(100px,250px,300px);
}